.markdown-section blockquote, .markdown-section code, .markdown-section figure, .markdown-section img, .markdown-section pre, .markdown-section table, .markdown-section tr {
    page-break-inside: avoid;
    text-align: center;
}

.markdown-section img {
	text-align: center;
	width: 50%; 
    padding: 15px 0px;
}